<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Idea Box Redux</h2>
      <br>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>Create a New Idea</h4>
      <div class="form-group">
        <label for="post-body">Title</label>
        <input class="form-control" type="text" id="post-title">
        <br>
        <label for="post-body">Body</label>
        <input class="form-control" type="text" id="post-body">
        </div>
        <input class="btn btn-default pull-left" id="create-post" type="button" name="submit" value="Save">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12" id='latest-posts'>
    </div>
  </div>
</div>


