<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Idea Box Redux</h2>
      <br>
      <div class='col-md-4'>
        <div class="input-group" id="search-bar">
          <input type="text" class="form-control" id='filter' placeholder="Search for an Idea">
          <span class="input-group-btn">
          <button class="btn btn-default" type="button">Searh</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>Create a New Idea</h4>
      <div class="form-group">
        <label for="post-body">Title</label>
        <input class="form-control" type="text" id="idea-title">
        <br>
        <label for="post-body">Body</label>
        <input class="form-control" type="text" id="idea-body">
        </div>
        <input class="btn btn-default pull-left" id="create-idea" type="button" name="submit" value="Save">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12" id='latest-posts'>
    </div>
  </div>
</div>


